# Data manipulation
pandas
numpy

# String manipulation and hashing
fuzzywuzzy
python-Levenshtein

# Progress bars
tqdm

# BeautifulSoup for HTML parsing
beautifulsoup4

# Google Maps API and Requests
googlemaps
requests

# Geopy for geolocation and distance calculations
geopy

# Spacy for NER
spacy==3.7.2
span_marker
huggingface_hub==0.23.4

# Langchain and llama for LLMs
langchain
langchain_community
llama-cpp-python

# MongoDB
pymongo==4.2.0

# Tenacity for retries
tenacity

# Environment variables
python-dotenv

# Sklearn for cosine similarity
scikit-learn

# OpenAI API
openai

openpyxl